<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2"><a routerLink="/" class="logo"><img src="assets/images/logo.png" alt="EFY Motors" class="footer-logo-img"></a></h2>
          <p>EFY Motors est votre spécialiste en vente de véhicules au Cameroun. Découvrez notre large sélection de véhicules d'occasion et neufs, inspectés et certifiés pour votre tranquillité d'esprit.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="https://wa.me/237697364696" target="_blank" title="WhatsApp"><span class="icon-phone"></span></a></li>
            <li class="ftco-animate"><a href="https://www.facebook.com/EFYMotorsCompany" target="_blank" title="Facebook"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Informations</h2>
          <ul class="list-unstyled">
            <li><a routerLink="/about" class="py-2 d-block">À propos</a></li>
            <li><a routerLink="/services" class="py-2 d-block">Services</a></li>
            <li><a routerLink="/cars" class="py-2 d-block">Nos véhicules</a></li>
            <li><a href="#" class="py-2 d-block">Garantie qualité</a></li>
            <li><a href="#" class="py-2 d-block">Politique de confidentialité</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
         <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Support client</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">FAQ</a></li>
            <li><a href="#" class="py-2 d-block">Options de paiement</a></li>
            <li><a href="#" class="py-2 d-block">Processus d'achat</a></li>
            <li><a href="#" class="py-2 d-block">Financement</a></li>
            <li><a routerLink="/contact" class="py-2 d-block">Nous contacter</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Des questions ?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Yaoundé-Cameroun</span></li>
              <li><a href="https://wa.me/237697364696" target="_blank"><span class="icon icon-phone"></span><span class="text">+237 697 364 696</span></a></li>
              <li><a href="https://www.facebook.com/EFYMotorsCompany" target="_blank"><span class="icon icon-facebook"></span><span class="text">EFY Motors Company</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy;{{ currentYear }} EFY Motors. Tous droits réservés.
        </p>
      </div>
    </div>
  </div>
</footer>

